@import "tailwindcss";

@theme {
  --color-warm-cream: #FFF7ED;
  --color-soft-orange: #F59E0B;
  --color-deep-slate: #0F172A;
  --color-money-in: #16A34A;
  --color-money-out: #EF4444;
  --color-app-background: #FFFBF5;
}

body {
  background-color: var(--color-app-background);
}

